* {
  margin: 0;
  padding: 0;
}
.logo {
  background:url('../assets/Nasa.png');
  background-position: center;
  background-size: cover;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 15rem;
}

.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  box-shadow: 0px -1px 10px 0.1px black;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.items {
  display: flex;
  list-style: none;
  gap: 4rem;
  font-size: large;
}
.items *{
  all: unset;
  cursor: pointer;
}
.items *:hover{
  color: #2104ff;
  cursor: pointer;
}
.button {
  margin-right: 2rem;
  display: inline-block;
  width: 4.25rem;
  height: 2.25rem;
  background-color: rgb(185, 185, 185);
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}
.button::before {
  position: absolute;
  content: "";
  background-color: rgb(255, 255, 255);
  height: 2rem;
  width: 2rem;
  margin: 0.1rem 0.15rem;
  border-radius: 100%;
}
input:checked +.button {
  background-color: rgb(243, 243, 243);
}

input:checked +.button::before {
  background-color: black;
  transform: translateX(2rem);
}
.darkmode input {
  display: none;
}

/* main css */

.card{
  display: inline-block;
  /* position: absolute; */
  height: max-content;
  max-height: 220px;
  max-width: 300px;
  text-align: center;
}

.inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .inner {
  transform: rotateY(-180deg);
  height: max-content;
  background-color: rgb(208, 208, 208);
}
.front,
.back {
  backface-visibility: hidden;
}
.front img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  object-fit: cover;
}
.front {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgb(207, 205, 205);
}
.landscape .back{
  grid-row: span 1;
}
.back{
  font-size: 0.4rem;
  background-color: rgb(208, 208, 208);
  max-height: 150px;
  overflow-y:hidden;
  text-align: center;
  scroll-behavior: hidden;
  position: absolute;
  top: 2rem;
  transform: rotateY(180deg);
}
@keyframes auto-scroll {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-50%); 
  }
  100% {
    transform: translateY(0); 
  }
}


.back h1{
  padding: 0 20px; 
}
.content{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-template-rows: repeat(300px);
  column-gap: -2rem;
  margin: 2rem 7rem;
  gap: 1rem;
}
.landscape h1{
  animation: auto-scroll 15s linear infinite;
}
.portrait{
  grid-row: span 2;
  max-height: fit-content;
}
.input{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input input{
  padding: 0.6rem 3rem;
  margin-top: 2rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(208, 208, 208);
}
/* Light Mode Styles */
body {
  background-color: white;
  color: black;
  overflow-x: hidden;
}

.head {
  background-color: #d1d1d1;
}

.card .front, .card .back, .card .inner {
  background-color: rgb(207, 205, 205);
}
@keyframes load {
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(40%);
  }
  100%{
    transform: translateY(0%);
  }
}

/* loading */
.loadcontainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0rem ;
  gap:0.8rem;
}
.loadcontainer div{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(130, 130, 130);
  
}
.loadcontainer :nth-child(1){
  animation: load 600ms ease-in-out infinite;
  animation-delay: 0.1s;
}
.loadcontainer :nth-child(2){
  animation: load 600ms ease-in-out infinite;
  animation-delay: 0.2s;
}
.loadcontainer :nth-child(3){
  animation: load 600ms ease-in-out infinite;
  animation-delay: 0.3s;
}

/* Dark Mode Styles */
.dark-mode{
  height: 100vh;
  background-color: #170F55;
  color: white;
  background-size: contain;
}

.dark-mode .head {
  background-color: #170F55;
}

.dark-mode .card .front,
.dark-mode .card .back,
.dark-mode .card .inner {
  background-color: #170F55;
}

.zero{
  width: 100%;
  
}

